:focus, :active {
    outline: 0;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, pre, code {
    font-size: 1em;
    font-weight: 100;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

a img, :link img, :visited img {
    border: none;
}

address {
    font-style: normal;
}

body {
    font: .74em 'Open Sans', Sans-Serif;
    background: #131420;
    color: #ffffff;
    line-height: 1.6em;
    overflow-y: auto;
    overflow-x: hidden;
}

hr {
    margin-left: 5%;
    width: 54%;
}

#titleHR {
    width: 255px;
    user-select: none;
    color: #5865F2;
    margin-top: 10px;
    position: relative;
}

.blockHR {
    user-select: none;
    color: #5865F2;
    margin-top: 10px;
    margin-left: 25px;
    position: relative;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
}

p {
    margin: 5px 0 15px;
}

#top {
    position: relative;
    width: 100%;
    height: 300px;
    background: #016BF6;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
}

#top .text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #ffffff;
    margin: auto;
    max-inline-size: 1080px;
}

#page {
    margin-top: 2em;
}

.sub {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6em;
    font-weight: 600;
    color: #ffffff;
}

.sub0 {
    margin-left: 25px;
    font-family: 'Font Awesome 6 Brands', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
}

.sub1 {
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    color: #ffffff;
}

.sub2 {
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.35em;
    width: 55%;
    color: #ffffff;
}

.sub3 {
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    width: 55%;
    color: #ffffff;
}

.sub4 {
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    width: 55%;
    color: #ffffff;
}

.block br {
    margin-left: 2.5%;
}

.return {
    user-select: none;
    margin-left: 25px;
}

.tag {
    user-select: none;
    background-color: #016BF6;
    color: #ffffff;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family: 'Font Awesome 6 Free', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
}

.tagImg0 {
    user-select: none;
    height: 10px;
    position: relative;
}

.tagImg1 {
    user-select: none;
    vertical-align: -1px;
    height: 12px;
    position: relative;
}

.tagImg2 {
    user-select: none;
    vertical-align: -3.5px;
    height: 16px;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px; 
    background-color: #171824;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
  
::-webkit-scrollbar-thumb {
    background-color: #016BF6;
    border-radius: 1px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #0168ee;
}

br {
    user-select: none;
}

.block {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1.2%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    border-radius: 8px;
    background-color: #171824;
    color: #e1e1e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.35em;
}

.textBlock {
    margin-left: 25px;
}

.btns {
    margin-left: 25px;
    user-select: none;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 20px;
    border-color: #0168ee;
    color: #0168ee;
    background: #171824;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    display: inline-block;
    animation: shine 3s ease-in-out infinite;
}

.btns:hover {
    background-color: #0168ee;
    color: #ffffff;
}

.btnsHome {
    user-select: none;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    margin-left: 15px;
    margin-top: -20px;
    border: 2px solid;
    border-radius: 20px;
    border-color: #ffffff;
    color: #ffffff;
    background: #171824;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    animation: shine 3s ease-in-out infinite;
}

.btnsHome img {
    width: 16px;
    height: 16px;
    margin: -3px;
    margin-right: 5px;
    filter: invert(100%);
}

.btnsHome:hover img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(65%) saturate(4600%) hue-rotate(205deg) brightness(93%) contrast(104%);
}

.btnsHome:hover {
    background-color: #ffffff;
    color: #0168ee;
}

.copyBtn {
    margin-left: 25px;
    user-select: none;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid;
    border-radius: 20px;
    border-color: #ffffff;
    color: #ffffff;
    background: #171824;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    display: inline-block;
    animation: shine 3s ease-in-out infinite;
}

.copyBtn img {
    width: 16px;
    height: 16px;
    margin: -4px;
    margin-right: 5px;
}

.copyBtn:hover {
    background-color: #3776c9;
}

.copyBtn.copied {
    background-color: #0168ee;
}

.copiedText {
    position: absolute;
    bottom: 0.5%;
    left: 85%;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-15px, -10px);
    background-color: #0168ee;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    z-index: 9999;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}