:focus, :active {
    outline: 0;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, pre, code {
    font-size: 1em;
    font-weight: 100;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

a img, :link img, :visited img {
    border: none;
}

address {
    font-style: normal;
}

body {
    font: .74em 'Open Sans', Sans-Serif;
    background: #131420;
    color: #ffffff;
    line-height: 1.6em;
    overflow-y: auto;
    overflow-x: hidden;
}

hr {
    margin-left: 5%;
    width: 54%;
}

#titleHR {
    width: 16.6%;
    user-select: none;
    color: #5865F2;
    margin-top: 10px;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
}

p {
    margin: 5px 0 15px;
}

#top {
    position: relative;
    width: 100%;
    height: 300px;
    background: #016BF6;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
}

#top .text {
    user-select: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: #ffffff;
}

#page {
    margin-top: 2em;
}

.sub {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6em;
    font-weight: 600;
}

.sub0 {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 600;
}

.sub1 {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
}

.sub2 {
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.35em;
    width: 55%;
}

.linksList {
    margin-left: 5%;
    font-size: 1.3em;
}

::-webkit-scrollbar {
    width: 5px; 
    background-color: #171824;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
  
::-webkit-scrollbar-thumb {
    background-color: #016BF6;
    border-radius: 1px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #0168ee;
}


.block {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1.2%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    border-radius: 8px;
    background-color: #171824;
    color: #e1e1e1;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.35em;
}

.textBlock {
    margin-left: 2.2%;
}